/* 폰트, 바디마진, ... */
/* 설치한 폰트 적용 */
@font-face {
  font-family: '나눔';
  src: url(../font/NanumSquareR.woff2);
}

body{
    font-family: '나눔';
    margin: 0;
    background: black;
}

div, input, textarea{
    box-sizing: border-box;
}

nav{
    position:fixed;
    width: 100%;
    z-index: 8;
}
.top-nav{
    background: rgb(246,245,239);
}

.top-nav-inner{

    width: 1100px;
    height: 120px;
    margin:auto;

    display: flex;
    justify-content: space-between;  /* 양쪽정렬(가로) */
    align-items: center;  /*가운데 정렬(세로)*/
}

.first-nav{
    display: flex;
    justify-content: flex-end;
}
.top-nav-logo{
    width: 85px;
    height: 85px;
}

.first-nav li{
    display: inline-block;
    padding: 0px 10px;
    font-size: 15px;
    border-right: 1px solid black;
}

.first-nav a{
    font-size: small;
    text-decoration: none;
}

.first-nav a:hover{
    text-decoration: underline;
}

.second-nav li{
    display: inline-block;
}

.second-nav a{
    text-decoration: none;
    color: black;
    padding: 10px 16px 22px 16px;
}
/*
.second-nav a:hover{
    background: black;
    color: green;
    text-decoration: underline;
}
*/
.no-border{
    border-right:none !important;
}

.dump{
    height:120px;
}

.ads{
    width: 146px;
    height: 96px;
    background-size: cover;
    background-image: url(../img/item1.png);

    position: fixed;
    z-index: 5;
    top: 30%;
    left: 85%;
}

.down-nav{
    background:rgb(44,42,41);
    width:100%;
    height:0px;
    transition: all 0.1s; 
    visibility: hidden;
}


.down-nav-inner{
    display: flex;
    color: white;
    text-align: left;
    padding-left: 100px;
}

.down-nav-inner ul{
    padding:0;
    margin:0;
    width: 200px;
}

.down-nav-inner li{
    list-style: none;
    font-size: small;  
    padding-bottom:  5px; 
}

.section-1{
    width: 100%;
    height:438.03px;
    background-image: url(../img/section1.png);
    background-size: cover;

    position:relative;
}

.section-1 .img-text{
   width: 170px;
   height: 95px;
   position: absolute;
   top:30%;
   left: 10%;
}

.section-1 .product1{
    width: 300px;
    height:260px;

    position: absolute;
    top:27%;
    left:30%;
}

.section-1 .product2{
    width: 260px;
    height:330px;

    position: absolute;
    top:12%;
    left:53%;
}

.section-1 .product3{
    width: 260px;
    height:260px;

    position: absolute;
    top:27%;
    left:70%;
}

.section-1 .section-1-btn{
    position:absolute;
    left:13%;
    top:60%;
    background:transparent;   /* 투명 */
    border: 2px solid green;
    padding:5px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: all 0.5s;
}

.section-1 .section-1-btn:hover{
    background-color: 	#006400;
    color: white;
    text-decoration: underline;
}


.section-4{
    width:100%;
    height:22vw;
    background-image: url(../img/section4.png);
    background-position: center;
    background-size:cover;      /* cover */
  }
  
  .section-5{
    width:100%;
    height:18vw;
    background-image: url(../img/section5.png);
    background-position: center;
    background-size:cover;      /* cover */
  }
  
  .section-6{
    width:100%;
    height:32vw;
    background-image: url(../img/section6.png);
    background-position: center;
    background-size:cover;      /* cover */
  }
  
  .section-7{
    width:100%;
    height:22vw;
    background-image: url(../img/section7.png);
    background-position: center;
    background-size:cover;      /* cover */
  }
  
  .section-8{
    width:100%;
    height:22vw;
    background-image: url(../img/section8.png);
    background-position: center;
    background-size:cover;      /* cover */
  }